$smScreen: 380px;
$mdScreen: 720px;
$lgScreen: 1920px;

$royalBlue: #5956E9;
$black: #232233;
$gray: #6C6C72;
$white: #FFFFFF;
$backdropFade01: #7572FF;
$backdropFade02: #423FD9;

body {
    background-color: $royalBlue;
    padding: 24px 12px;
    overflow-x: hidden;

    * {
        font-family: "Josefin Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        border-radius: 5px;
    }

    P {
        color: $gray;
    }

    header{
        background-color: $white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0 4px;
        height: 40px;

        img {
            width: 40%;
            height: 60px;
            padding: 4px 16px;
            background-color: $white;
            border-radius: 4px;
            box-shadow: 0 0 8px rgba(0,0,0,.1);
        }
    }

    section.appolly-description {
        background-color: $white;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 60px;

        &::before{ 
            content: '';
            display: block;
            border: 8px solid $backdropFade01;
            width: 90%;
            height: 280px;
            position: absolute;
            z-index: -10;
            right: 2px;
            margin-top: -40px;
        }

        p{
            margin: 30px 40px;
            font-size: 1.25em;
        }

        div {
            margin: 20px 40px;
            a {
                cursor: pointer;
                margin-right: 8px;
                padding: 2px;
                img {
                    width: 120px;
                }
            }
        }
    }

    section.app-mockup{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top:48px;

        img.decal{
            width: 100vw;
            margin-top: -400px;
            z-index: -10;
        }
    }
}

